<section class="jumbotron" style="background-image: url({{ media[config.site.media.jumbotron].url }})">
    <div class="jumbotron-header">
        <div>Lorem</div>
        <div>Ipsum</div>
    </div>
    <div class="jumbotron-grid">
        <div class="jumbotron-container">
            <div class="title">
                {{ config.site.title }}
            </div>
            <p class="subtitle">
                {{ config.site.subtitle }}
            </p>
        </div>
    </div>
</section>