{% extends 'partials/layout.html.twig' %}

{% block content %}
    <div class="mb-4">
        {% include 'partials/jumbotrons/home-jumbotron.html.twig' %}
    </div>

    <div class="container mx-auto">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
            {% for child in page.collection('development') %}
                {% include 'partials/cards/card_post.html.twig' with { page: child } %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
